.layout-container {
  height: 100vh; /* Mengatur tinggi layout penuh */
  width: 100vw; /* Mengatur lebar layout penuh */
  display: flex; /* Menggunakan flexbox untuk layout */
  background-color: #D1D5DB; /* Warna latar belakang gray (setara dengan gray-300 di Tailwind) */
  position: relative; 
}

.logo-section {
  width: 65%; /* Mengatur lebar bagian logo */
  justify-content: flex-start; /* Mengatur agar logo berada di bagian atas */
  align-items: flex-start; /* Mengatur agar logo berada di kiri */
  padding: 23px; /* Menambahkan padding untuk memberikan ruang di sekitar bagian logo */
}

.logo {
  width: 80px; /* Atur ukuran logo sesuai kebutuhan */
  height: 90px; /* Atur ukuran logo sesuai kebutuhan */
  margin-left: 15px; /* Menambahkan margin di sekitar logo */
}

.image-section {
  width: 600px; /* Atur ukuran logo sesuai kebutuhan */
  height: 600px; /* Atur ukuran logo sesuai kebutuhan */
  margin-left: 70px; /* Menambahkan margin di sekitar logo */
}
